In [70]:
import pandas as pd
peaks = pd.read_csv("peaks.csv", encoding = 'utf-8')
P1 = peaks.head(50)
peaks.rename(index=str, columns={"pkname": "Name"},inplace=True)
peaks.sort_values(['heightm'],ascending=False,inplace=True)
peaks.reset_index(inplace=True)
peaks.head(5)

,index,peakid,Name,pkname2,location,heightm,heightf,himal,region,open,...,restrict,phost,pstatus,pyear,pseason,pexpid,psmtdate,pcountry,psummiters,psmtnote
0,92,EVER,Everest,"Sagarmatha, Chomolungma, Qomolungma",Khumbu Himal,8850,29035,12,2,True,...,NaN,4,2,1953.0,1,EVER53101,May 29,"New Zealand, India","Edmund Hillary, Tenzing Norgay Sherpa",NaN
1,176,KANG,Kangchenjunga,NaN,Kangchenjunga Himal,8586,28169,9,1,True,...,NaN,5,2,1955.0,1,KANG55101,May 25,UK,"George Band, Joe Brown",NaN
2,240,LHOT,Lhotse,NaN,Khumbu Himal,8516,27940,12,2,True,...,NaN,4,2,1956.0,1,LHOT56101,May 18,Switzerland,"Fritz Luchsinger, Ernst Reiss",NaN
3,458,YALU,Yalung Kang,Yalungkar,Kangchenjunga Himal (W summit of Kangchenjunga),8505,27904,9,1,True,...,NaN,1,2,1973.0,1,YALU73101,May 14,Japan,"Yutaka Ageta, Takao Matsuda",1st ascent claimed
4,262,MAKA,Makalu,NaN,Makalu Himal,8485,27838,14,2,True,...,NaN,4,2,1955.0,1,MAKA55101,May 15,France,"Jean Couzy, Lionel Terray",NaN

In [78]:
toppeaks = pd.read_csv("dataminer.csv", encoding = 'utf-8')
toppeaks.drop(toppeaks.index[0:5],inplace=True)
toppeaks['Column 1'].head()
toppeaks.head(3)

,Column 1,Column 2
5,27°59′17″N 86°55′31″E﻿ / ﻿27.98806°N 86.92528°...,Mount Everest /Sagarmatha /Chomolungma
6,35°52′53″N 76°30′48″E﻿ / ﻿35.88139°N 76.51333°...,K2 / Chhogori / Godwin Austen
7,27°42′12″N 88°08′51″E﻿ / ﻿27.70333°N 88.14750°...,Kangchenjunga

In [73]:
newpeaks = toppeaks["Column 1"].str.split("/", n = 1, expand = True) 
toppeaks["Latlng"]= newpeaks[0]
toppeaks["Location"]= newpeaks[1]
newpeaks.head()

                         0                                                  1
5  27°59′17″N 86°55′31″E﻿    ﻿27.98806°N 86.92528°E﻿ / 27.98806; 86.92528﻿...
6  35°52′53″N 76°30′48″E﻿    ﻿35.88139°N 76.51333°E﻿ / 35.88139; 76.51333﻿...
7  27°42′12″N 88°08′51″E﻿    ﻿27.70333°N 88.14750°E﻿ / 27.70333; 88.14750﻿...
8  27°57′42″N 86°55′59″E﻿    ﻿27.96167°N 86.93306°E﻿ / 27.96167; 86.93306﻿...
9  27°53′23″N 87°05′20″E﻿    ﻿27.88972°N 87.08889°E﻿ / 27.88972; 87.08889﻿...

In [79]:
newpeaks3 = newpeaks[1].str.split("/", n = 1, expand = True)
newpeaks3.head(2)

,0,1
5,﻿27.98806°N 86.92528°E﻿,27.98806; 86.92528﻿ (1. Mount Everest / Sagar...
6,﻿35.88139°N 76.51333°E﻿,35.88139; 76.51333﻿ (2. K2 / Qogir / Godwin A...

In [86]:
newpeaks4 = newpeaks3[1].str.split("(", n = 1, expand = True)
print(newpeaks4.head(2))
toppeaks['Location'] = newpeaks4[0]
toppeaks.rename(index=str, columns={"Column 2": "Name"},inplace=True)
toppeaks.head(5)

                       0                                                  1
5   27.98806; 86.92528﻿   1. Mount Everest / Sagarmatha / Chomolungma (8...
6   35.88139; 76.51333﻿             2. K2 / Qogir / Godwin Austen (8611 m))

                                     Name Location
5  Mount Everest /Sagarmatha /Chomolungma      NaN
6           K2 / Chhogori / Godwin Austen      NaN
7                           Kangchenjunga      NaN
8                                  Lhotse      NaN
9                                  Makalu      NaN

In [64]:
peaks.replace({'Everest': 'Mount Everest'},inplace=True)
peaks.replace({'Kabru main': 'Kabru N'},inplace=True)
peaks.replace({'Himalchuli East': 'Himalchuli'},inplace=True)
peaks.replace({'Peak 29': 'Ngadi Chuli'},inplace=True)
peaks.replace({'Jannu': 'Khumbhakarna'},inplace=True)
peaks.replace({'Jongsang': 'Jongsong Peak'},inplace=True)
peaks.replace({'Ganesh I': 'Yangra'},inplace=True)
peaks.replace({'Gimmigela Chuli': 'Gimmigela'},inplace=True)
peaks.replace({'Pasang Lhamu Chuli': 'Nangpai Gosum'},inplace=True)
peaks.replace({'Churen Himal Central': 'Churen Himal'},inplace=True)

In [65]:
toppeaks1 = toppeaks["Name"].str.split("/", n = 1, expand = True)
toppeaks2 = toppeaks1[0].str.split("[", n = 1, expand = True)
toppeaks['Name'] = toppeaks2[0]
toppeaks
peaks1 = peaks.merge(toppeaks,right_on='Name',left_on='Name')
peaks1.drop(['trekyear','trekking','unlisted','pkname2'],axis=1,inplace=True)
Finalpeaks = peaks1.sort_values(['heightm'],ascending=False)

KeyError: 'Name'

In [18]:
Ev = peaks.iloc[0]
Cho = peaks.iloc[9]
Finalpeaks1 = Finalpeaks.append(Ev,ignore_index=True)
Finalpeaks2 = Finalpeaks1.append(Cho,ignore_index=True)
Finalpeaks2.set_value(25, 'Location', '27.98806; 86.92528')
Finalpeaks2.set_value(26, 'Location', '28.09417; 86.66083')

/Users/alexberry/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/alexberry/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,index,peakid,Name,location,heightm,heightf,himal,region,open,restrict,...,psmtdate,pcountry,psummiters,psmtnote,Latlng,Location,pkname2,trekking,trekyear,unlisted
0,176,KANG,Kangchenjunga,Kangchenjunga Himal,8586,28169,9,1,True,NaN,...,May 25,UK,"George Band, Joe Brown",NaN,27°42′12″N 88°08′51″E﻿,27.70333; 88.14750﻿,NaN,NaN,NaN,NaN
1,240,LHOT,Lhotse,Khumbu Himal,8516,27940,12,2,True,NaN,...,May 18,Switzerland,"Fritz Luchsinger, Ernst Reiss",NaN,27°57′42″N 86°55′59″E﻿,27.96167; 86.93306﻿,NaN,NaN,NaN,NaN
2,262,MAKA,Makalu,Makalu Himal,8485,27838,14,2,True,NaN,...,May 15,France,"Jean Couzy, Lionel Terray",NaN,27°53′23″N 87°05′20″E﻿,27.88972; 87.08889﻿,NaN,NaN,NaN,NaN
3,68,DHA1,Dhaulagiri I,Dhaulagiri Himal,8167,26795,4,6,True,NaN,...,May 13,"Switzerland, Austria, W Germany, Nepal","Peter Diener, Kurt Diemberger, Albin Schelbert...",NaN,28°41′48″N 83°29′35″E﻿,28.69667; 83.49306﻿,NaN,NaN,NaN,NaN
4,264,MANA,Manaslu,Manaslu Himal,8163,26781,15,4,True,NaN,...,May 09,"Japan, Nepal","Toshio Imanishi, Gyaltsen Norbu Sherpa",NaN,28°33′00″N 84°33′35″E﻿,28.55000; 84.55972﻿,NaN,NaN,NaN,NaN
5,8,ANN1,Annapurna I,Annapurna Himal,8091,26545,1,5,True,NaN,...,Jun 03,France,"Maurice Herzog, Louis Lachenal",NaN,28°35′44″N 83°49′13″E﻿,28.59556; 83.82028﻿,NaN,NaN,NaN,NaN
6,9,ANN2,Annapurna II,Annapurna Himal,7937,26040,1,5,True,NaN,...,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",NaN,28°32′05″N 84°07′19″E﻿,28.53472; 84.12194﻿,NaN,NaN,NaN,NaN
7,135,HIME,Himalchuli,Mansiri Himal (SE of Manaslu),7893,25896,15,4,True,NaN,...,May 24,Japan,"Masahiro Harada, Hisashi Tanabe",NaN,28°26′12″N 84°38′23″E﻿,28.43667; 84.63972﻿,NaN,NaN,NaN,NaN
8,353,PK29,Ngadi Chuli,Manaslu Himal (S of Manaslu),7871,25823,15,4,True,NaN,...,May 08,Poland,"Ryszard Gajewski, Maciej Pawlikowski",1st ascent claimed by Japan (Sumiyoshi) in 197...,28°30′12″N 84°34′00″E﻿,28.50333; 84.56667﻿,NaN,NaN,NaN,NaN
9,316,NUPT,Nuptse,Khumbu Himal (SW of Everest),7864,25801,12,2,True,NaN,...,May 16,"UK, Nepal","Dennis Davis, Tashi Sherpa",1st ascent of W Smt (NUPT-884-01),27°58′03″N 86°53′13″E﻿,27.96750; 86.88694﻿,NaN,NaN,NaN,NaN
10,129,GYAC,Gyachung Kang,Khumbu Himal (E of Cho Oyu on Tibetan border),7861,25791,12,2,True,NaN,...,Apr 10,"Japan, Nepal","Yukihiko Kato, Kiyoto Sakaizawa, Pasang Phutar...",NaN,28°05′53″N 86°44′42″E﻿,28.09806; 86.74500﻿,NaN,NaN,NaN,NaN
11,69,DHA2,Dhaulagiri II,Dhaulagiri Himal (NW of Dhaulagiri I),7751,25430,4,6,True,NaN,...,May 18,"Austria, USA, Nepal","Adolf Huber, Ronald Fear, Adi Weissensteiner, ...",NaN,28°45′46″N 83°23′18″E﻿,28.76278; 83.38833﻿,NaN,NaN,NaN,NaN
12,71,DHA4,Dhaulagiri IV,Dhaulagiri Himal (W of Dhaulagiri V),7661,25135,4,6,True,NaN,...,May 09,Japan,"Shiro Kawazu, Etsuro Yasuda",1st ascent claimed (summmiters died in fall on...,28°44′09″N 83°18′55″E﻿,28.73583; 83.31528﻿,NaN,NaN,NaN,NaN
13,72,DHA5,Dhaulagiri V,Dhaulagiri Himal (SW of Dhaulagiri III),7618,24993,4,6,True,NaN,...,May 01,"Japan, Nepal","Masaaki Morioka, Pemba Tsering Sherpa",NaN,28°44′02″N 83°21′41″E﻿,28.73389; 83.36139﻿,NaN,NaN,NaN,NaN
14,10,ANN3,Annapurna III,Annapurna Himal,7555,24787,1,5,True,NaN,...,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",NaN,28°35′06″N 83°59′24″E﻿,28.58500; 83.99000﻿,NaN,NaN,NaN,NaN
15,159,JONG,Jongsong Peak,Jongsang Himal (on Indian-Tibetan border),7462,24482,7,1,True,NaN,...,Jun 03,"Germany, Austria","Hermann Hoerlin, Erwin Schneider",NaN,27°52′54″N 88°08′09″E﻿,27.88167; 88.13583﻿,NaN,NaN,NaN,NaN
16,107,GANG,Gangapurna,Annapurna Himal (NW of Annapurna III),7455,24459,1,5,True,NaN,...,May 06,"W Germany, Nepal","Gunter Hauser, Ludwig Greissl, Hermann Kollens...",NaN,28°36′18″N 83°57′49″E﻿,28.60500; 83.96361﻿,NaN,NaN,NaN,NaN
17,60,CHUR,Churen Himal,Dhaulagiri Himal (NW of Dhaulagiri VI),7385,24229,4,6,True,One permit for Churen Himal's three summits,...,Oct 24,Japan,"Masayoshi Fukui, Kozo Hasegawa",NaN,28°44′05″N 83°13′03″E﻿,28.73472; 83.21750﻿,NaN,NaN,NaN,NaN
18,199,KIRA,Kirat Chuli,Jongsang Himal (N of Kangchenjunga on Indian b...,7362,24154,7,1,True,NaN,...,May 29,"Switzerland, Germany","Ernst Grob, Herbert Paidar, Ludwig Schmaderer",NaN,27°47′16″N 88°11′43″E﻿,27.78778; 88.19528﻿,NaN,NaN,NaN,NaN
19,442,TLNG,Talung,Simhalila Himal (S of Kangchenjunga on Indian ...,7349,24111,9,1,True,Opened in 2002,...,May 19,"W Germany, Nepal","Franz Lindner, Tenzing Nanda Sherpa",NaN,27°39′18″N 88°07′51″E﻿,27.65500; 88.13083﻿,NaN,NaN,NaN,NaN
20,37,CHAM,Chamlang,"Khumbu Himal (in Hongku Valley, SW of Makalu)",7321,24019,12,2,True,NaN,...,May 31,"Japan, Nepal","So Anma, Pasang Phutar Sherpa (I)",NaN,27°46′30″N 86°58′47″E﻿,27.77500; 86.97972﻿,NaN,NaN,NaN,NaN
21,73,DHA6,Dhaulagiri VI,Dhaulagiri Himal (WSW of Dhaulagiri IV),7268,23845,4,6,True,NaN,...,Apr 17,Japan,"Shiro Kawazu, Shoichi Kimura, Hisazumi Nakamur...",NaN,28°42′31″N 83°16′27″E﻿,28.70861; 83.27417﻿,NaN,NaN,NaN,NaN
22,366,PUTH,Putha Hiunchuli,Dhaulagiri Himal (W of Churen Himal),7246,23773,4,6,True,NaN,...,Nov 11,"UK, Nepal","J. O. M. Roberts, Ang Nyima Sherpa",NaN,28°44′52″N 83°08′46″E﻿,28.74778; 83.14611﻿,NaN,NaN,NaN,NaN
23,224,LANG,Langtang Lirung,Langtang Himal,7227,23711,13,3,True,NaN,...,Oct 24,"Japan, Nepal","Seishi Wada, Pemba Tsering Sherpa",NaN,28°15′22″N 85°31′01″E﻿,28.25611; 85.51694﻿,NaN,NaN,NaN,NaN
24,225,LANR,Langtang Ri,Langtang Himal (NE of Langtang Lirung on Tibet...,7205,23638,13,3,True,NaN,...,Oct 10,"Japan, Nepal","Soichi Nasu, Makihiro Wakao, Noboru Yamada, An...",NaN,28°22′53″N 85°41′01″E﻿,28.38139; 85.68361﻿,NaN,NaN,NaN,NaN
25,92,EVER,Mount Everest,Khumbu Himal,8850,29035,12,2,True,NaN,...,May 29,"New Zealand, India","Edmund Hillary, Tenzing Norgay Sherpa",NaN,NaN,27.98806; 86.92528,"Sagarmatha, Chomolungma, Qomolungma",0.0,NaN,0.0
26,51,CHOY,Cho Oyu,Khumbu Himal (NW of Everest on Tibetan border),8188,26864,12,2,True,NaN,...,Oct 19,"Austria, Nepal","Herbert Tichy, Sepp Jeochler, Pasang Dawa Lama",NaN,NaN,28.09417; 86.66083,NaN,0.0,NaN,0.0

In [19]:
Finalpeaks3 = Finalpeaks2['Location'].str.split(";", n = 1, expand = True)
Finalpeaks2["Lat"]= Finalpeaks3[0] 
Finalpeaks2["Long"]= Finalpeaks3[1]

In [21]:
#Finalpeaks2.drop(['Location','Latlng','psmtnote','himal','region','location','index','unlisted'],axis=1,inplace=True)
#Finalpeaks2.drop(['trekking','trekyear','restrict','open','pkname2','pstatus','phost'],axis=1,inplace=True)
Finalpeaks2.set_value(25, 'Lat', 27.98806)
Finalpeaks2.set_value(25, 'Long', 86.92528)
Finalpeaks2.set_value(26, 'Lat', 28.09417)
Finalpeaks2.set_value(26, 'Long', 86.66083)
Finalpeaks2

/Users/alexberry/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/alexberry/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/alexberry/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/alexberry/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,index,peakid,Name,location,heightm,heightf,himal,region,open,restrict,...,psummiters,psmtnote,Latlng,Location,pkname2,trekking,trekyear,unlisted,Lat,Long
0,176,KANG,Kangchenjunga,Kangchenjunga Himal,8586,28169,9,1,True,NaN,...,"George Band, Joe Brown",NaN,27°42′12″N 88°08′51″E﻿,27.70333; 88.14750﻿,NaN,NaN,NaN,NaN,27.70333,88.14750﻿
1,240,LHOT,Lhotse,Khumbu Himal,8516,27940,12,2,True,NaN,...,"Fritz Luchsinger, Ernst Reiss",NaN,27°57′42″N 86°55′59″E﻿,27.96167; 86.93306﻿,NaN,NaN,NaN,NaN,27.96167,86.93306﻿
2,262,MAKA,Makalu,Makalu Himal,8485,27838,14,2,True,NaN,...,"Jean Couzy, Lionel Terray",NaN,27°53′23″N 87°05′20″E﻿,27.88972; 87.08889﻿,NaN,NaN,NaN,NaN,27.88972,87.08889﻿
3,68,DHA1,Dhaulagiri I,Dhaulagiri Himal,8167,26795,4,6,True,NaN,...,"Peter Diener, Kurt Diemberger, Albin Schelbert...",NaN,28°41′48″N 83°29′35″E﻿,28.69667; 83.49306﻿,NaN,NaN,NaN,NaN,28.69667,83.49306﻿
4,264,MANA,Manaslu,Manaslu Himal,8163,26781,15,4,True,NaN,...,"Toshio Imanishi, Gyaltsen Norbu Sherpa",NaN,28°33′00″N 84°33′35″E﻿,28.55000; 84.55972﻿,NaN,NaN,NaN,NaN,28.55000,84.55972﻿
5,8,ANN1,Annapurna I,Annapurna Himal,8091,26545,1,5,True,NaN,...,"Maurice Herzog, Louis Lachenal",NaN,28°35′44″N 83°49′13″E﻿,28.59556; 83.82028﻿,NaN,NaN,NaN,NaN,28.59556,83.82028﻿
6,9,ANN2,Annapurna II,Annapurna Himal,7937,26040,1,5,True,NaN,...,"Richard Grant, Chris Bonington, Ang Nyima Sherpa",NaN,28°32′05″N 84°07′19″E﻿,28.53472; 84.12194﻿,NaN,NaN,NaN,NaN,28.53472,84.12194﻿
7,135,HIME,Himalchuli,Mansiri Himal (SE of Manaslu),7893,25896,15,4,True,NaN,...,"Masahiro Harada, Hisashi Tanabe",NaN,28°26′12″N 84°38′23″E﻿,28.43667; 84.63972﻿,NaN,NaN,NaN,NaN,28.43667,84.63972﻿
8,353,PK29,Ngadi Chuli,Manaslu Himal (S of Manaslu),7871,25823,15,4,True,NaN,...,"Ryszard Gajewski, Maciej Pawlikowski",1st ascent claimed by Japan (Sumiyoshi) in 197...,28°30′12″N 84°34′00″E﻿,28.50333; 84.56667﻿,NaN,NaN,NaN,NaN,28.50333,84.56667﻿
9,316,NUPT,Nuptse,Khumbu Himal (SW of Everest),7864,25801,12,2,True,NaN,...,"Dennis Davis, Tashi Sherpa",1st ascent of W Smt (NUPT-884-01),27°58′03″N 86°53′13″E﻿,27.96750; 86.88694﻿,NaN,NaN,NaN,NaN,27.96750,86.88694﻿
10,129,GYAC,Gyachung Kang,Khumbu Himal (E of Cho Oyu on Tibetan border),7861,25791,12,2,True,NaN,...,"Yukihiko Kato, Kiyoto Sakaizawa, Pasang Phutar...",NaN,28°05′53″N 86°44′42″E﻿,28.09806; 86.74500﻿,NaN,NaN,NaN,NaN,28.09806,86.74500﻿
11,69,DHA2,Dhaulagiri II,Dhaulagiri Himal (NW of Dhaulagiri I),7751,25430,4,6,True,NaN,...,"Adolf Huber, Ronald Fear, Adi Weissensteiner, ...",NaN,28°45′46″N 83°23′18″E﻿,28.76278; 83.38833﻿,NaN,NaN,NaN,NaN,28.76278,83.38833﻿
12,71,DHA4,Dhaulagiri IV,Dhaulagiri Himal (W of Dhaulagiri V),7661,25135,4,6,True,NaN,...,"Shiro Kawazu, Etsuro Yasuda",1st ascent claimed (summmiters died in fall on...,28°44′09″N 83°18′55″E﻿,28.73583; 83.31528﻿,NaN,NaN,NaN,NaN,28.73583,83.31528﻿
13,72,DHA5,Dhaulagiri V,Dhaulagiri Himal (SW of Dhaulagiri III),7618,24993,4,6,True,NaN,...,"Masaaki Morioka, Pemba Tsering Sherpa",NaN,28°44′02″N 83°21′41″E﻿,28.73389; 83.36139﻿,NaN,NaN,NaN,NaN,28.73389,83.36139﻿
14,10,ANN3,Annapurna III,Annapurna Himal,7555,24787,1,5,True,NaN,...,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",NaN,28°35′06″N 83°59′24″E﻿,28.58500; 83.99000﻿,NaN,NaN,NaN,NaN,28.58500,83.99000﻿
15,159,JONG,Jongsong Peak,Jongsang Himal (on Indian-Tibetan border),7462,24482,7,1,True,NaN,...,"Hermann Hoerlin, Erwin Schneider",NaN,27°52′54″N 88°08′09″E﻿,27.88167; 88.13583﻿,NaN,NaN,NaN,NaN,27.88167,88.13583﻿
16,107,GANG,Gangapurna,Annapurna Himal (NW of Annapurna III),7455,24459,1,5,True,NaN,...,"Gunter Hauser, Ludwig Greissl, Hermann Kollens...",NaN,28°36′18″N 83°57′49″E﻿,28.60500; 83.96361﻿,NaN,NaN,NaN,NaN,28.60500,83.96361﻿
17,60,CHUR,Churen Himal,Dhaulagiri Himal (NW of Dhaulagiri VI),7385,24229,4,6,True,One permit for Churen Himal's three summits,...,"Masayoshi Fukui, Kozo Hasegawa",NaN,28°44′05″N 83°13′03″E﻿,28.73472; 83.21750﻿,NaN,NaN,NaN,NaN,28.73472,83.21750﻿
18,199,KIRA,Kirat Chuli,Jongsang Himal (N of Kangchenjunga on Indian b...,7362,24154,7,1,True,NaN,...,"Ernst Grob, Herbert Paidar, Ludwig Schmaderer",NaN,27°47′16″N 88°11′43″E﻿,27.78778; 88.19528﻿,NaN,NaN,NaN,NaN,27.78778,88.19528﻿
19,442,TLNG,Talung,Simhalila Himal (S of Kangchenjunga on Indian ...,7349,24111,9,1,True,Opened in 2002,...,"Franz Lindner, Tenzing Nanda Sherpa",NaN,27°39′18″N 88°07′51″E﻿,27.65500; 88.13083﻿,NaN,NaN,NaN,NaN,27.65500,88.13083﻿
20,37,CHAM,Chamlang,"Khumbu Himal (in Hongku Valley, SW of Makalu)",7321,24019,12,2,True,NaN,...,"So Anma, Pasang Phutar Sherpa (I)",NaN,27°46′30″N 86°58′47″E﻿,27.77500; 86.97972﻿,NaN,NaN,NaN,NaN,27.77500,86.97972﻿
21,73,DHA6,Dhaulagiri VI,Dhaulagiri Himal (WSW of Dhaulagiri IV),7268,23845,4,6,True,NaN,...,"Shiro Kawazu, Shoichi Kimura, Hisazumi Nakamur...",NaN,28°42′31″N 83°16′27″E﻿,28.70861; 83.27417﻿,NaN,NaN,NaN,NaN,28.70861,83.27417﻿
22,366,PUTH,Putha Hiunchuli,Dhaulagiri Himal (W of Churen Himal),7246,23773,4,6,True,NaN,...,"J. O. M. Roberts, Ang Nyima Sherpa",NaN,28°44′52″N 83°08′46″E﻿,28.74778; 83.14611﻿,NaN,NaN,NaN,NaN,28.74778,83.14611﻿
23,224,LANG,Langtang Lirung,Langtang Himal,7227,23711,13,3,True,NaN,...,"Seishi Wada, Pemba Tsering Sherpa",NaN,28°15′22″N 85°31′01″E﻿,28.25611; 85.51694﻿,NaN,NaN,NaN,NaN,28.25611,85.51694﻿
24,225,LANR,Langtang Ri,Langtang Himal (NE of Langtang Lirung on Tibet...,7205,23638,13,3,True,NaN,...,"Soichi Nasu, Makihiro Wakao, Noboru Yamada, An...",NaN,28°22′53″N 85°41′01″E﻿,28.38139; 85.68361﻿,NaN,NaN,NaN,NaN,28.38139,85.68361﻿
25,92,EVER,Mount Everest,Khumbu Himal,8850,29035,12,2,True,NaN,...,"Edmund Hillary, Tenzing Norgay Sherpa",NaN,NaN,27.98806; 86.92528,"Sagarmatha, Chomolungma, Qomolungma",0.0,NaN,0.0,27.9881,86.9253
26,51,CHOY,Cho Oyu,Khumbu Himal (NW of Everest on Tibetan border),8188,26864,12,2,True,NaN,...,"Herbert Tichy, Sepp Jeochler, Pasang Dawa Lama",NaN,NaN,28.09417; 86.66083,NaN,0.0,NaN,0.0,28.0942,86.6608

In [25]:

import chart_studio.plotly as py
import plotly.graph_objs as go
mapbox_access_token = 'pk.eyJ1IjoiYWJlcnJ5MzYwIiwiYSI6ImNqczljaHl6ZDBkYWI0M2xrNzk3MG1rYWkifQ.VPdin0qCtTtXSFaVu9pQDw'

data = [
    go.Scattermapbox(
        lat= Finalpeaks2['Lat'],
        lon=Finalpeaks2['Long'],
        mode='markers',
        marker=dict(
            size=9
        ),
        text=Finalpeaks2['Name'],
    )
]

layout = go.Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=28.3,
            lon=87.07
        ),
        pitch=0,
        zoom=6
    ),
)

fig = dict(data=data, layout=layout)
py.plot(fig, filename='Multiple Mapbox')

'https://plotly.com/~aberry360/2/'

In [26]:
SummitSuccess = pd.read_csv("Summit Success peaks > 7200m.csv",sep = '\t', encoding = 'utf-16')
SummitSuccess.dropna(axis=0, how='any',inplace=True)
SummitFail = pd.read_csv("Summit Fails Peaks > 7200m.csv",sep = '\t', encoding = 'utf-16')
SummitFail.dropna(axis=0, how='any',inplace=True)
SummitFail.head()

  Peakid  Year of Bcdate  Count of Msmtbid
1   EVER          1921.0              13.0
2   EVER          1922.0              22.0
3   EVER          1924.0              13.0
7   EVER          1933.0              43.0
8   EVER          1934.0               4.0

In [27]:
SummitFail['Year of Bcdate'].unique()

array([1921., 1922., 1924., 1933., 1934., 1935., 1936., 1938., 1947.,
       1950., 1951., 1952., 1953., 1956., 1958., 1960., 1962., 1963.,
       1965., 1969., 1970., 1971., 1972., 1973., 1974., 1975., 1976.,
       1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984., 1985.,
       1986., 1987., 1988., 1989., 1990., 1991., 1992., 1993., 1994.,
       1995., 1996., 1997., 1998., 1999., 2000., 2001., 2002., 2003.,
       2004., 2005., 2006., 2007., 2008., 2009., 2010., 2011., 2012.,
       2013., 2014., 2015., 1954., 1959., 1964., 1955., 1961., 1929.,
       1930., 1931., 1937., 1957., 1939.])

In [362]:
SummitFail

     Peakid  Year of Bcdate  Count of Msmtbid
1      EVER          1921.0              13.0
2      EVER          1922.0              22.0
3      EVER          1924.0              13.0
7      EVER          1933.0              43.0
8      EVER          1934.0               4.0
9      EVER          1935.0              18.0
10     EVER          1936.0              33.0
12     EVER          1938.0              23.0
14     EVER          1947.0               3.0
15     EVER          1950.0               5.0
16     EVER          1951.0              14.0
17     EVER          1952.0              40.0
18     EVER          1953.0              21.0
21     EVER          1956.0              13.0
23     EVER          1958.0               4.0
25     EVER          1960.0              43.0
27     EVER          1962.0              26.0
28     EVER          1963.0              22.0
30     EVER          1965.0              18.0
31     EVER          1969.0              16.0
32     EVER          1970.0              79.0
33     EVER          1971.0              53.0
34     EVER          1972.0              39.0
35     EVER          1973.0             108.0
36     EVER          1974.0              34.0
37     EVER          1975.0              64.0
38     EVER          1976.0              51.0
39     EVER          1977.0              28.0
40     EVER          1978.0              34.0
41     EVER          1979.0              65.0
...     ...             ...               ...
1667   TLNG          1964.0               7.0
1675   TLNG          1975.0               9.0
1691   TLNG          1991.0               2.0
1702   TLNG          2002.0              10.0
1704   TLNG          2004.0               8.0
1714   TLNG          2014.0               3.0
1753   DHA5          1975.0              15.0
1757   DHA5          1979.0               9.0
1765   DHA5          1987.0               4.0
1821   CHUR          1962.0               4.0
1825   CHUR          1969.0              10.0
1826   CHUR          1970.0               2.0
1846   CHUR          1990.0               5.0
1849   CHUR          1993.0               9.0
1868   CHUR          2012.0               4.0
1902   DHA6          1965.0              12.0
1904   DHA6          1970.0               5.0
1906   DHA6          1972.0               1.0
1917   DHA6          1983.0               1.0
1922   DHA6          1988.0               5.0
1993   LANR          1981.0               5.0
1995   LANR          1983.0               2.0
1999   LANR          1987.0               1.0
2001   LANR          1989.0               1.0
2002   LANR          1990.0               5.0
2015   LANR          2003.0               6.0
2023   LANR          2011.0               5.0
2073   JONG          1983.0               7.0
2088   JONG          1998.0              10.0
2090   JONG          2000.0              12.0

[624 rows x 3 columns]